@model IEnumerable<FinalTest.Domain.Contracts.ViewModels.ProfileViewModel>

@{
    ViewBag.Title = Resources.Resource.Users;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>



<div class="row">
    <div class="col-md-10">
        <input type="search" class="form-control" placeholder="@Resources.Resource.Filter">
    </div>

</div>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink(Resources.Resource.Edit, "Edit", "Profile", new { id = item.Id }, null) |
                    @Html.ActionLink(Resources.Resource.Display, "Display", "Profile", new { id = item.Id }, null) |
                    @Html.ActionLink(Resources.Resource.Delete, "Delete", new { id = item.Id })
                    @Html.ActionLink(Resources.Resource.Roles, "ManageRoles", new { id = item.Ids })
                </td>
            </tr>
        }
    </tbody>
    

</table>

@section scripts
    {
    <script src="~/Scripts/tablefilter.js"></script>
    <script>
        $('table').tableFilter();
        $('table').tableFilter({

            // input field to filter table rows
            'input': 'input[type=search]',

            // trigger events and elements
            'trigger': {

                "event": "keyup",
                'element': undefined
            },

            // case sensitive
            'caseSensitive': false,

            // Timeout for keyboard events (keyup, keypress ...)
            'timeout': -1,

            // enable table sort
            'sort': false,

            // not found element
            // e.g. notFoundElement : ".not-found"
            'notFoundElement': null,

            // callback
            'callback': function () { }

        });
    </script>


}